<h1>List of Restaurants</h1>

<hr>

<p><%= link_to "Create a new restaurants",  new_restaurant_path %></p>

<hr>

<div>
  <% @restaurants.each do |restaurant|  %>
  <div>
    <h5>Name:</h5><p>
    <%= restaurant.name %></p>
    <h5>Categoty:</h5>
    <p><%= restaurant.category %></p>
    <h5>Address:</h5>
    <p><%= restaurant.address %></p>
    <h5>Phone:</h5>
    <p><%= restaurant.phone_number %></p>
    <%= link_to "Show Restaurant", restaurant_path(restaurant) %>
  </div>
  <hr>
  <% end %>
</div>